# KNN (K - Nearest Neighbors)

In [24]:
import pandas as pd
##  untuk membaca, mengelola, dan memanipulasi data.
import numpy as np
## analisis data untuk melakukan operasi numerik dan komputasi ilmiah.
import matplotlib.pyplot as plt
## library yang digunakan untuk membuat visualisasi dan grafik data.

In [2]:
df = pd.read_csv("iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

membaca data dari file "iris.csv" dan menyimpannya dalam sebuah DataFrame yang dinamai df.

Library pandas berfungsi untuk memproses data, mulai pembersihan data, manipulasi data, dan melakukan analisis data

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 7.2 KB

perintah yang digunakan untuk mendapatkan informasi tentang DataFrame df.

In [26]:
df.describe()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.054000,3.758667,1.198667,1.000000
std,43.445368,0.828066,0.433594,1.764420,0.763161,0.819232
min,1.000000,4.300000,2.000000,1.000000,0.100000,0.000000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,0.000000
50%,75.500000,5.800000,3.000000,4.350000,1.300000,1.000000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,2.000000
max,150.000000,7.900000,4.400000,6.900000,2.500000,2.000000

 perintah yang digunakan untuk menghasilkan statistik deskriptif tentang DataFrame df.

In [13]:
x = df.iloc[:,0:-1].values
##  Ini mengambil semua baris dari DataFrame df dan semua kolom kecuali kolom terakhir.
y = df.iloc[:,-1].values
## Ini mengambil semua baris dari DataFrame df dan hanya kolom terakhir.

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Species"] = le.fit_transform(df["Species"])

diubah menjadi nilai numerik yang sesuai dengan kategori yang semula ada dalam kolom tersebut.

Label encoder bertujuan untuk mengubah menjadi kode numerik, memasukkan data frame yg dimana mentransformasikan ke data spesies

In [5]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

Setelah menjalankan kode yang mengubah kolom "Species" menjadi nilai numerik, DataFrame df akan berisi data yang telah dimodifikasi, dengan kolom "Species" diubah menjadi nilai-nilai numerik.

In [6]:
df['Species'].unique()

array([0, 1, 2])

 untuk menampilkan nilai unik yang ada dalam kolom "Species" dari DataFrame df.

In [7]:
x = df.drop(["Id","Species"], axis = 1)
##  menghasilkan DataFrame baru yang disimpan dalam variabel x dengan menghilangkan kolom "Id" dan "Species" dari DataFrame df.
y = df["Species"]

In [8]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split (x,y, test_size = 0.20, random_state = 0)

test_size=0.20 menentukan bahwa 20% dari data akan digunakan sebagai data pengujian, sedangkan 80% akan digunakan sebagai data pelatihan.

random_state=0 adalah parameter opsional yang digunakan untuk mengatur seed generator angka acak, sehingga hasil pemisahan data dapat direproduksi.

In [31]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 9)
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=9)

model KNN yang dibuat akan mencari 9 tetangga terdekat untuk setiap titik data ketika membuat prediksi.

In [21]:
print("akurasi score sebenarnya : {}".format(knn.score(x_test, y_test)))

akurasi score sebenarnya : 1.0

mencetak akurasi model KNN pada data pengujian ke layar, yang memberikan informasi tentang sejauh mana model KNN dapat memprediksi dengan benar kelas target pada data yang belum pernah dilihat sebelumnya. Semakin tinggi akurasi, semakin baik kinerja model.

In [28]:
print (x_test)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
114            5.8           2.8            5.1           2.4
62             6.0           2.2            4.0           1.0
33             5.5           4.2            1.4           0.2
107            7.3           2.9            6.3           1.8
7              5.0           3.4            1.5           0.2
100            6.3           3.3            6.0           2.5
40             5.0           3.5            1.3           0.3
86             6.7           3.1            4.7           1.5
76             6.8           2.8            4.8           1.4
71             6.1           2.8            4.0           1.3
134            6.1           2.6            5.6           1.4
51             6.4           3.2            4.5           1.5
73             6.1           2.8            4.7           1.2
54             6.5           2.8            4.6           1.5
63             6.1           2.9            4.7           1.4
37             4.9           3.1            1.5           0.1
78             6.0           2.9            4.5           1.5
90             5.5           2.6            4.4           1.2
45             4.8           3.0            1.4           0.3
16             5.4           3.9            1.3           0.4
121            5.6           2.8            4.9           2.0
66             5.6           3.0            4.5           1.5
24             4.8           3.4            1.9           0.2
8              4.4           2.9            1.4           0.2
126            6.2           2.8            4.8           1.8
22             4.6           3.6            1.0           0.2
44             5.1           3.8            1.9           0.4
97             6.2           2.9            4.3           1.3
93             5.0           2.3            3.3           1.0
26             5.0           3.4            1.6           0.4

In [29]:
print (x_train)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
137            6.4           3.1            5.5           1.8
84             5.4           3.0            4.5           1.5
27             5.2           3.5            1.5           0.2
127            6.1           3.0            4.9           1.8
132            6.4           2.8            5.6           2.2
..             ...           ...            ...           ...
9              4.9           3.1            1.5           0.1
103            6.3           2.9            5.6           1.8
67             5.8           2.7            4.1           1.0
117            7.7           3.8            6.7           2.2
47             4.6           3.2            1.4           0.2

[120 rows x 4 columns]

In [30]:
print (y_test)

114    2
62     1
33     0
107    2
7      0
100    2
40     0
86     1
76     1
71     1
134    2
51     1
73     1
54     1
63     1
37     0
78     1
90     1
45     0
16     0
121    2
66     1
24     0
8      0
126    2
22     0
44     0
97     1
93     1
26     0
Name: Species, dtype: int32

In [23]:
import numpy as np

x_new = np.array([[5.9,3.0,5.1,1.0]])

prediksi = knn.predict(x_new)

print(prediksi)

[1]

C:\Users\dwihu\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(